*.iml
src/main/resources/static/frontend/node_modules/
target/**
.idea/artifacts/
.idea/compiler.xml
.idea/copyright/
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/jsLinters/
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.mvn/
out/
src/main/lib/
src/main/resources/static/frontend/etc/
src/main/resources/static/frontend/node/
src/main/web/
target/
